.container{
              position: relative;
              z-index: -1;
            
              .upperElements{
                            @media (max-width:640px),(max-width:768px){
                                   display: flex;
                                   justify-content: center;
                                   align-items: center;
                                   gap:2rem;
                            }
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            flex-wrap: wrap;
              }
              .lowerElements{
                     @media (max-width:640px),(max-width:768px){
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap:2rem;
                     }
                            margin-top: 10rem;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            flex-wrap: wrap;
                .experience{
                            display: flex;
                            gap:1rem;
                            >:nth-child(2){
                                          line-height: 1.2rem;
                            }
                }
              .certificate{
                            display: flex;
                            flex-direction: column;
                            text-transform: uppercase;
              }
              }
              .person{
                     @media (max-width:640px),(max-width:768px){
                            position: relative;
                            left: 0;
                            background-size: 20rem;
                            display: flex;
                            flex-direction: column;
                            text-transform: uppercase;
                            margin-top: 5rem;
                            z-index: 1;
                     }
                     position: absolute;
                     bottom: 2rem;
                     right: 23rem;
                     display: flex;
                     background-image: url('splash.png');
                     
                    
              }
              a{
                     @media (max-width:640px),(max-width:768px){
                            display: none;
                     }
                     position: absolute;
                     text-decoration: none;
                     color:yellow;
                     top:50%;
                    // left:0;
              }
             
}